.main-page {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}
.sign-page{
    background-color: white;
    width: 400px;
    overflow: auto;
    height: 500px;
    border-radius: 15px;
}
.sign-page .login {
    margin: auto;
    font-size: 25px;
    width: 125px;
    height: 70px;
    background-color: rgb(47, 138, 223);
    color: white;
    border-radius: 25px;
}
#error-box{
    background-color: rgb(238, 97, 97);
    color: darkred;
    text-align: center;
    margin-left:20px;
    margin-right:20px;
    margin-bottom:20px;
    height: 25px;
    border-radius: 7px;
}
.sign-page .change-window:hover {
    color:rgb(43, 42, 42);
    text-decoration: underline;
}
.sign-page .text-holder {
    color:grey;
}
.sign-page .button-placeholder {
    display:flex;
    flex-direction: column;
}